*.dll
*.exe
*.pdb
*.csproj.user
*.csproj.nuget*
project.assets.json
*.deps.json*
*.runtimeconfig.*
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.csproj.FileListAbsolute.txt
*.csprojAssemblyReference.cache
*.designer.runtimeconfig.json
*.g.resources
*_MarkupCompile.cache
*_MarkupCompile.i.cache
*_MarkupCompile.lref
*.baml
*.g.cs
*.g.i.cs
*.suo
*.lock
*.ide-shm
*ide-wal
*.ide
*.editorconfig
bin/
obj/
.vs/
packages/
/Database/DataLoad/bkp.sql
/Winform/BinRel
*.zip
